body {
    background-image: url(../../assets/images/painting-3135875_1280.jpg);
    font-family: 'Raleway', sans-serif;
}

.footer {
    margin-top: 2rem;
}

h1 {
    font-family: 'Kaushan Script', cursive;
}
small {
    letter-spacing: 1.5px;
}